body{
    margin: 0;
}


.main_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 198, 198);
    color: #fff;
}
.div_textarea{
    margin-left:340px
}
.container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    justify-content: center;
    
    
}
.container_down{
    
}
.div_button{
    margin-left: 65%;
}


